.RECURSOS-EDUCATIVOS {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.RECURSOS-EDUCATIVOS .div {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.RECURSOS-EDUCATIVOS .group {
  height: 40px;
  left: 0;
  position: absolute;
  top: 984px;
  width: 1444px;
}

.RECURSOS-EDUCATIVOS .overlap-group {
  height: 40px;
  position: relative;
  width: 1440px;
}

.RECURSOS-EDUCATIVOS .text-wrapper {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 646px;
}

.RECURSOS-EDUCATIVOS .rectangle {
  background-color: #043f70;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.RECURSOS-EDUCATIVOS .p {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 646px;
}

.RECURSOS-EDUCATIVOS .frame-wrapper {
  height: 21px;
  left: 1372px;
  position: absolute;
  top: 8px;
  width: 21px;
}

.RECURSOS-EDUCATIVOS .frame {
  height: 21px;
  position: relative;
}

.RECURSOS-EDUCATIVOS .pngwing {
  height: 24px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 24px;
}

.RECURSOS-EDUCATIVOS .react-icons-fa {
  height: 22px !important;
  left: 1343px !important;
  position: absolute !important;
  top: 10px !important;
  width: 20px !important;
}

.RECURSOS-EDUCATIVOS .group-2 {
  background-image: url(../../static/img/react-icons-fa-falinkedinin-1.svg);
  background-size: 100% 100%;
  height: 22px;
  left: 1404px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.RECURSOS-EDUCATIVOS .div-2 {
  height: 165px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1452px;
}

.RECURSOS-EDUCATIVOS .overlap {
  background-image: url(../../static/img/rectangle-933-1.svg);
  background-size: 100% 100%;
  height: 169px;
  position: relative;
  width: 1440px;
}

.RECURSOS-EDUCATIVOS .img {
  height: 169px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.RECURSOS-EDUCATIVOS .rectangle-2 {
  background-color: #043f70;
  filter: blur(4px);
  height: 165px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.RECURSOS-EDUCATIVOS .text-wrapper-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 834px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  width: 115px;
}

.RECURSOS-EDUCATIVOS .text-wrapper-3 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  width: 134px;
}

.RECURSOS-EDUCATIVOS .text-wrapper-4 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1261px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  width: 122px;
}

.RECURSOS-EDUCATIVOS .text-wrapper-5 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 973px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  width: 106px;
}

.RECURSOS-EDUCATIVOS .text-wrapper-6 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 737px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  width: 73px;
}

.RECURSOS-EDUCATIVOS .text-wrapper-7 {
  color: #ffffff;
  font-family: "Petrona", Helvetica;
  font-size: 100px;
  font-style: italic;
  font-weight: 700;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}

.RECURSOS-EDUCATIVOS .overlap-2 {
  background-image: url(../../static/img/rectangle-933.svg);
  background-size: 100% 100%;
  height: 169px;
  position: relative;
  width: 1440px;
}
